body{
	border: 0;
	margin: 0;
	padding: 0;
	background: #018574;
}
h1,h2,h3,h4,h5,h6{
	font-family: Palatino,Garamond,Times,Georgia,serif;
}
a:link{
	text-decoration: none;
	color: #FFFFFF;
}
a:visited{
	text-decoration: none;
	color: #FFFFFF;
}
a:hover{
	text-decoration: underline;
}