/*根据设计图，设置body固定宽度1280px，高度4554px*/
body{
  margin: 0 auto;
	background:#282828;
  width: 1280px;
	height: 4554px;
}
main{
  background: white;
}
/*头部导航区,高57px*/
header{
	height:57px;line-height:57px;
	margin: 0;
position: relative;/*方便子元素进行absolute定位*/
}
/*图标左边距59px,垂直居中*/
header>img{
  vertical-align: top;
  position: relative;
  margin-left:59px;
  top: 13px;
}
/*图标右边的文字,margin-left:11px,字体14px,垂直居中*/
/*为了照顾到与其他的兄弟span独立，用到:nth-child*/
header>span:nth-child(2){
font-family: Mincrosoft Yahei;
font-size: 21px;
vertical-align: top;/*关键属性*/
}
/*容纳导航内容的p，用absolute放到适当的水平位置*/
.header-nav{
  display: inline-block;
  position: absolute;
  left: 701px;
  top: 0;
  margin-top: 0;/*重要属性*/
  width: 579px;
  height: 100%;
}
/*导航容器的相对位置*/
/*导航容器的通用属性*/
.header-nav-container1,.header-nav-container2,.header-nav-container3{
  display: inline-block;
  height:100%;
  text-align: center;
  position: relative;
}
/*首页导航的宽与边距*/
.header-nav-container1{
width: 65px;
margin-right: 30px;
}
/*其他导航容器（最后一个除外）*/
.header-nav-container2{
  margin-right:45px;
}
/*最后一个导航容器*/
.header-nav-container3{
  margin-right: 30px;
}
/*导航字体属性*/
.header-nav-words{
font-family: Mincrosoft Yahei;
font-size: 14px;
line-height: 14px;
vertical-align: top;
position: relative;
top: 16px;
color:#999ba0;
text-decoration: none;
}
/*首页导航的字体颜色特殊*/
.header-nav-container1>.header-nav-words,.header-nav>.login{
  color:#e74f4d;
}
/*鼠标悬浮到导航框字符时，下方出现红色横条提示*/
.header-nav-words:hover ~ .header-nav-hr{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background: #e74f4d;
}
/*登陆图标位置*/

.login-icon{
vertical-align: top;/*这样设置使得图片加载失败的时候不会影响到兄弟元素的布局*/
position: relative;
top: 16px;
margin-right: 5px;
}
/*登陆字体属性*/
.login{
  font-family:  Microsoft Yahei;
  font-size: 14px;
  line-height: 14px;
  vertical-align: top;
  position: relative;
  top: 16px;
  color:#e74f4d;
}
/*导航区css属性结束*/
/*大图背景区属性*/
/*区域大小及背景图*/
.homepage-main-pic{
position: relative;
height: 691px;
background-image: url("https://pengshudream.github.io/simple official technology home page/img/homepage_background_pic.png");
background-size:cover;
background-repeat:no-repeat;
border-top: 1px solid transparent;/*为了其子元素的margin-top生效*/
margin-top: -2px;/*检查发现背景图片的上边缘有一px留白。看情况决定是否将header的高增加一像素*/
}

/*主要大图背景区第一行文字属性*/
.homepage-main-p1{
font-family: Microsoft Yahei;
font-size: 60px;line-height: 60px;
color: #ffffff;
margin-top: 230px;margin-bottom: 0;
margin-left: 116px;
}
.homepage-main-p1:first-letter{
  text-transform: uppercase;
}
/*主要大图背景区第二行文字属性*/
.homepage-main-p2{
font-family: Microsoft Yahei;
font-size:21px;line-height: 33px;
color: #fffdfd;
margin-top: 16px;margin-bottom: 0;/*因为就算是知道字体大小和行高，
                                    字体与当前行的边之间任然会有留白
                                    这里的margin-top是根据浏览器显示的实际效果进行微调的*/
margin-left: 124px;
max-width: 295px;
}
/*主要大图背景区第三行属性*/
.homepage-main-p3{
margin-top:60px;margin-bottom: 0;
margin-left: 126px;
width: 331px;
height: 65px;line-height: 65px;
background:#e74f4d;
text-align: center;
font-family: Microsoft Yahei;
font-size:30px;
color: #fff;
}
/*主页大图背景区遮掩div*/
.homepage-main-cloak{
  width: 100%;height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 background: #000;
 opacity:0.2;
}
.homepage-main-p1,.homepage-main-p3{
  position: relative;
}
/*主图区css属性结束*/
/*主图下第一栏*/
.part1{
  margin:0;
  height: 248px;
  font-size: 0;/*防止各个容器之间产生留白
                当然子元素也可以用float防止产生留白
                还有其他方法,可以灵活使用*/
}
/*第一栏容器*/
.part1-container{
  display: inline-block;
  height: 100%;
  width: 320px;
  position: relative;
  text-align:center;
  vertical-align: top;/*该属性方便容器内内容的增删
                        没有该属性，当容器内内容为空时，
                        或者容器内内容大小不一致（高）时，布局会被改变*/
}
/*视觉上分割第一栏的三个竖线*/
.part1-verticalLine{
  display: inline-block;
  width: 2px;
  height: 52px;
  background: #aaa;
  position: absolute;
  right: -1px;
  bottom: 63px;
}
/*第一栏4个小图标*/
.part1-icon{
  vertical-align: top;
  margin-top:45px;
}
/*第一栏文字属性*/
/*考虑到容器内的图标大小可能不一致，
 图标又是设置上边距实现的对齐
 此处用绝对定位是文字向下的边距一致实现对齐*/
.part1-p{
  width:154px;/*取4块文字中宽度较大的那个，
               如果是153px则有的会多出来一行*/
  font-family: SimHei;
  font-size: 14px;line-height: 18px;
  color: #767777;
  text-align: center;
  position: absolute;
  margin: 0;
  bottom: 83px;/*没有特意设置合适line-height时，
                 注意字体与行框边缘有留白*/
  left: 50%;
  transform: translateX(-50%);
}
/*第一栏结束*/
/*第二栏*/
.part2{
  height: 361px;
  margin: 0;
  background: #ededed;
}
/*第二栏大号图标位置*/
.part2>img{
  margin-top: 89px;
  margin-left: 595px;
}
/*第二栏文字属性*/
.part2-p{
  font-family: SimHei;
  font-size: 53px;line-height: 53px;
  color: #323333;
  margin-top:38px;
  text-align: center;
  opacity:0.5;
}
/*第二栏结束*/
/*第三栏，地址信息*/
/*大小及背景图*/
.part3-site{
  position: relative;
  height:340px;
  border-top: 1px solid transparent;
  margin-top: -1px;
  background-image: url("https://pengshudream.github.io/simple official technology home page/img/searchMap.png");
}
/*文字属性*/
.site-p1{
  font-family: Microsoft Yahei;
  font-size: 21px;line-height: 21px;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 501px;
  position: relative;
}
.site-hr{
  border: none;
  height: 1px;
  width: 30px;
  background: #fff;
  margin-top: 11px;
  margin-bottom: 0;
  margin-left: 601px;
  position: relative;
}
.site-p2{
  font-family: Microsoft Yahei;
  font-size: 12px;line-height: 12px;
  color: #fff;
  opacity: 0.8;
  margin:19px auto 0 449px;
  position: relative;
}
/*遮罩*/
.part3-floak{
  position: absolute;
  background: #aa3432;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*地址信息填写表单*/
/*表单总体位置*/
.site{
  margin: 52px 0 0 126px;
  font-size: 0;
}
/*表单fieldset属性*/
.site>fieldset{
  display: inline-block;
  width: 235px;
  height: 35px;
  margin-right: 28px;
  margin-left: 0;
  position: relative;
  border: none;
  vertical-align: top;
}
/*地址表单legend属性*/
.site>fieldset>legend{
  width: 235px;
  height: 35px;
  border: 1px solid transparent;/*会导致legend的背景色向外怎加1px*/
  padding: 0;
  background: #fff;
  font-family: Microsoft Yahei;
  font-size: 12px;
  color: #a8aaaa;
  position: relative;
}
.site>fieldset>legend>span{
  position: absolute;
  margin-left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.site>fieldset>legend>img{
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}
/*省份选择的模拟下拉列表框*/
.province>ul{
   display: inline-block;
  position: absolute;
  visibility: hidden;
  top: 35px;
  left: 0;
  width: 235px;
  border: 1px solid transparent;/*避免增加border是布局的微笑变化*/
  padding: 0;
  padding-bottom: 10px;
  background: #e3e2e4;
}
/*隐藏列表样式及单选框*/
.province>ul>li{
  list-style:none;
}
.province>ul>li>input[type="radio"]{
  display: none;
}
/*label属性*/
.province>ul>li>label{
  display: inline-block;
  height: 27px;line-height: 27px;
  width: 100%;
  font-family: Microsoft  Yahei;
  font-size: 12px;
  color: #323333;
  opacity: 0.7;
}
/*label内对勾图标*/
.province>ul>li>label>img{
  float: left;
  margin: 9px;/*注意太大了溢出父容器label会影响到布局*/
  margin-right: 11px;
  display: none;/*等到鼠标悬浮在fieldset上时
                  再改变display
                  这样当鼠标离开fieldset时，对勾便不会显示*/
}
/*鼠标悬浮显示下拉框*/
.province:hover>ul{
  visibility: visible;
  border: 1px solid #be4f48;
  border-top: none;
}
.province:hover>legend{
  border: 1px solid #be4f48;
  border-bottom: none;
}

.province>ul>li>label:hover{
  background: #da0;
}
/*选中时的样式*/
/*选中时显示对勾改变label颜色*/
.province:hover>ul>li>label>img{
  display: inline-block;
  visibility: hidden;
}
.province>ul>li>input[type="radio"]:checked~label>img{
  visibility: visible;
}
.province>ul>li>input[type="radio"]:checked~label{
  background: #be4e48;
  opacity: 1;
  color: #fff;
}
/*用label内的span标签覆盖legend*/
.province>ul>li>label>span{
  display: inline-block;
  height: 35px;line-height: 35px;
  width: 200px;
  background: white;
  font-family: Microsoft Yahei;
  font-size: 12px;
  color: #a8aaaa;
  opacity: 1;
  position: absolute;
  top: -35px;
  left: 10px;
  visibility: hidden;
}
/*选中时，并且鼠标离开fieldset之后将其显示*/
.province>ul>li>input[type="radio"]:checked~label>span{
  visibility: visible;
}
.province:hover>ul>li>label>span{
  visibility: hidden !important;
}
/*根据位置信息表单进行搜索的按钮*/
.site-submit>input[type="submit"]{
  display: none;
}
.site-submit>label{
  display: inline-block;
  height: 35px;line-height: 35px;
  width: 235px;
  border: 1px solid #be4e48;
  background: #be4e48;
  font-family: Microsoft Yahei;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.site-submit>label>span{
  letter-spacing: 25px;
}
.site-submit>label:hover{
  font-size: 20px;
}
/*活动栏*/
/*大小及背景*/
.activity{
  height: 605px;
  background: #f7f7f7;
  border-top: 1px solid transparent;
}
/*活动内容容器*/
.activity-content{
  height: 390px;
  margin-top: 100px;
  margin-left: 150px;
  font-size: 0;
}
/*单个活动样式*/
.activity-content>div{
  display: inline-block;
  width: 219px;
  height: 100%;
  margin-right: 36px;
  vertical-align: top;
  position: relative;
}
/*为图片设置大小防止加载失败时影响布局*/
.activity-content>div>img{
  width: 219px;
  height: 337px;
}
/*与图片在一起的文字说明*/
.activity-in-others>.p1{
  font-family:Microsoft Yahei;
  font-size:15px;line-height: 15px;
  font-weight: bold;
  color: #636464;
  margin: 12px;
  text-align: center;
}
.activity-in-others>.p2{
  font-family: Microsoft Yahei;
  font-size: 13px;line-height: 13px;
  color: #636464;
  text-align: center;
}
/*上海活动的特殊布局*/
.activity-in-shanghai>.p1{
  font-family: Microsoft Yahei;
  font-size: 21px;line-height: 25px;
  font-weight: bold;
  color: #636464;
  text-align: center;
  margin: 0;
}
.activity-in-shanghai>.p1>span{
  letter-spacing: 36px;
}
.activity-in-shanghai>.p2{
  font-family: Microsoft Yahei;
  font-size: 12px;line-height: 12px;
  color: #636464;
  text-align: center;
  margin: 9px;
}
/***************项目介绍1***********/
.introduce1{
  height: 565px;
}
/**************两个分栏***************/
.introduce1-main-pic{
  width: 850px;
  height: 100%;
  border-top: 1px solid transparent;
  background-image: url("https:pengshudream.github.io/simple official technology home page/img/introduce1.png");
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  position: relative;
  top: -1px;
}
.introduce1-description{
  width: 430px;
  height: 100%;
  border-top: 1px solid transparent;
  float: right;
  position: relative;
}
/***************分栏1*****************/
.introduce1-main-pic>p{
  text-align: center;
  color: #fff;
}
.introduce1-main-pic>.p1{
  font-family: Microsoft Yahei;
  font-size: 50px;line-height: 50px;
  margin: 130px 0 0;
}
.introduce1-main-pic>.p2{
  font-family: Microsoft Yahei;
  font-size: 158px;line-height: 158px;
  margin: -12px 0 0;
  text-transform: uppercase;
}
.introduce1-main-pic>.p3{
  font-family: Microsoft Yahei;
  font-size: 22px;line-height: 46px;
  margin: 5px 0 0;
}
.introduce1-main-pic>.p3>span{
  display: inline-block;
  max-width: 150px;
  text-align: left;
}
/*******************靠右的三角形*******/
.triangle-left{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 25px solid #fff;
}
/**********分栏2**************/
.introduce1-description>.p1{
  font-family: Microsoft Yahei;
  font-size: 20px;line-height: 20px;
  font-weight: bold;
  color: #656666;
  text-align: center;
  margin: 165px 0 20px;
}
.introduce1-description>.p1>.s1{
  opacity: 0.8;
  font-weight: normal;
  font-style: italic;
  margin:3px;
  letter-spacing: 3px;
}
.introduce1-description>.p1>.s2{
  color: #e7504d;
}
.introduce1-description>.p2{
  font-family: SimSun;
  font-size: 12px;line-height: 30px;
  color: #656566;
  width: 288px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0;
}
.introduce1-description>.p3{
  font-family:Microsoft Yahei;
  font-size: 12px;
  color: #e25c60;
  height: 35px;line-height: 35px;
  width: 107px;
  border: 1px solid #e25c60;
  text-align: center;
  margin: 40px 0 0 160px;
}
.introduce1-description>.p4{
  font-size: 0;
  margin-top: 24px;
  text-align: center;
}
/***********三个圆圈***********/
.introduce1-description>.p4>span{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 7px;
  border: 1px solid #919292;
}
.introduce1-description>.p4>.s1{
  background: #919292;
}
.introduce1-description>.p4>.s2{
  margin: 0 14px;
}
/****************项目介绍2******************/
.introduce2{
  height: 520px;
  font-size: 0;
}
/*        三个竖栏          */
.introduce2>div{
  height: 100%;
  display: inline-block;
  vertical-align: top;
  border-top: 1px solid transparent;
  margin-top: -1px;
}
.introduce2-column1{
  width: 425px;
  background: #e7504d;
}
.introduce2-column2{
  width: 425px;
}
.introduce2-column3{
  width: 430px;
  background-image: url("http://pengshudream.github.io/simple official technology home page/img/introduce2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/*          1/3竖栏&2/3                 */
.introduce2-column1>.p1,.introduce2-column2>.p1{
  font-family: SimHei;
  font-size: 21px;line-height: 30px;
  text-align: center;
  margin: 163px 0 0;
}
.introduce2-column1>hr,.introduce2-column2>hr{
  border: none;
  height: 2px;
  width: 30px;
  margin: 19px 0 0 197px;
}
.introduce2-column1>.p2,.introduce2-column2>.p2{
  font-family: SimHei;
  font-size: 21px;
  text-align: center;
  height: 43px;line-height: 43px;
  width: 169px;
  margin:25px 0 0 128px;
}
/*            1/3竖栏             */
.introduce2-column1>.p1{
  color: #fff;
}
.introduce2-column1>hr{
  background: #fff;
}
.introduce2-column1>.p2{
  border: 1px solid #fff;
  color: #fff;
}
/*            2/3竖栏           */
.introduce2-column2>.p1{
  color: #e74f4d;
}
.introduce2-column2>hr{
  background: #e74f4d;
}
.introduce2-column2>.p2{
  border: 1px solid #e74f4d;
  color: #e74f4d;
}
/*            3/3竖栏         */
/*          遮罩*/
.introduce2-column3>.shade{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
}
.introduce2-column3>span{
  display: inline-block;
  border-left: 25px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/*          第7栏 志愿者申请         */
.join-us{
  height: 748px;
  border-top: 1px solid transparent;
  margin-top: -1px;
}
.join-us>.p1{
  font-family: SimHei;
  font-size: 21px;line-height: 21px;
  color: #323333;
  text-align: center;
  margin: 117px 0 0;
}
.join-us>hr{
  height: 3px;
  width: 30px;
  border: none;
  background:#e74f4d;
  margin: 8px 0 0 625px;
}
.join-us>.p2{
  max-width: 420px;
  font-family: Microsoft Yahei;
  font-size: 12px;line-height: 18px;
  color: #aaaaaa;
  opacity: 0.8;
  margin: 15px 0 0 430px;
  text-align: center;
}
/* 左下脚关于志愿者的权利与义务*/
.join-us>.about-new-world{
  width: 290px;
  height: 280px;
  float: left;/*因为父容器已经定了高度
                并且其下一行没有元素
                所以此处不必担心溢出*/
  margin: 105px 75px 0 135px;
}
/*如果内容比较多，p元素的共同属性可以合并到同一个类*/
.join-us>.about-new-world>.p1{
  font-family: SimHei;
  font-size: 14px;line-height: 14px;
  margin: 0;
  color: #231815;
  opacity: 0.8;
}
.join-us>.about-new-world>.p2{
  font-family: SimSun;
  font-size: 12px;line-height: 21px;
  color: #231815;
  opacity: 0.6;
  margin: 22px 0 0;
}
.join-us>.about-new-world>.p3,.join-us>.about-new-world>.p6,.join-us>.about-new-world>.p8{
  font-family: SimSun;
  font-size: 12px;
  color: #231815;opacity: 0.6;
  text-align: right;
  margin:0;
}
.join-us>.about-new-world>.p4{
  font-family: SimHei;
  font-size: 14px;
  color: #231815;
  opacity: 0.8;
  margin: 35px 0 0;
}
.join-us>.about-new-world>.p5{
  font-family: SimSun;
  font-size: 12px;line-height: 21px;
  color: #231815;
  opacity: 0.6;
  margin: 22px 0 0;
}
.join-us>.about-new-world>.p7{
  font-family: SimHei;
  font-size: 14px;
  color: #231815;
  opacity: 0.8;
  margin: 15px 0 15px;
}
/*          注册志愿者右下角填写表单      */
.volunteer{
  display: inline-block;
  width: 655px;
  height: 280px;
  margin: 105px 0 0;
  font-size: 0;
}
.volunteer>.text{
  display: inline-block;
  width: 310px;
  height: 40px; line-height: 40px;
  background: #ededee;
  font-family: SimSun;
  font-size: 12px;
  margin: 0 17px 13px 0;
}
.volunteer>.text>span{
  color: #231815;opacity: 0.8;
  float: left;
  margin: 0 15px;
}
.volunteer>.text>input,
.volunteer>textarea,
.volunteer>input[type="submit"]{
  outline: none;border: none;background: #ededee;
}
.volunteer>.text>input[type="text"],
.volunteer>input[type="submit"]{
  height: 38px;
}
.volunteer>.text>.name,
.volunteer>.text>.age{
  width: 250px;
}
.volunteer>.text>.contact-ways,
.volunteer>.text>.contact-address{
  width: 220px;
}
/*          textarea              */
.volunteer>textarea{
  display:block;
  width: 625px;
  height: 120px;
  resize: none;
  font-family: SimSun;
  font-size: 12px;line-height: 26px;
  padding-left: 10px;
  color: #231815;opacity: 0.8;
}
/*          submit*/
.volunteer>input[type="submit"]{
  display: block;
  width: 637px;
  margin: 12px 0 0;
  font-family: SimHei;
  font-size: 14px;
  color: #323333;
}
/*      第八栏关于我们       */
.about-us{
  height: 360px;
  background: #32353e;
  border-top: 1px solid transparent;
  margin-top: -1px;
}
.about-us>p{
  text-align: center;
  color: #fff;
}
.about-us>.p1{
  font-family: SimHei;
  font-size: 21px;
  margin: 90px 0 0;
}
.about-us>.p2{
  font-family: SimSun;
  font-size: 12px;line-height: 18px;
  max-width: 468px;
  margin: 5px 0 0 405px;
}
.about-us>.p3{
  height: 40px;
  margin: 25px 0 0 385px;
}
.about-us>.p3>input[type="text"]{
  height: 40px;
  width: 420px;padding:0 0 0 10px;
  border: none;
  outline: none;
  vertical-align: top;
  background: #fff;
  font-family:Microsoft Yahei;
  font-size: 14px;
  color: #aaaaaa;
}
.about-us>.p3>input[type="submit"]{
  width: 80px;
  height: 40px;
  background: #6f7178;
  border: none;
  outline: none;
  font-family: Microsoft Yahei;
  font-size: 15px;
  color: #fff;
}
.about-us>.p4{
 font-size: 0;
 margin: 37px 0 0;
}
.about-us>.p4>img{
  margin: 0 13px;
}
/*        底部          */
footer{
  height: 57px;
  background: #2f2f38;
  border-top: 1px solid transparent;
  margin-top: -1px;
}
footer>p{
  font-family: SimSun;
  font-size: 12px;
  color: #fff;
  margin-top: 30px;
}
footer>p>.s1{
  margin-left: 100px;
}
footer>p>.s2{
  float: right;
  margin-right: 40px;
  text-decoration: none;
 color: #fff;
}
